<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
	<main layout:fragment="content">
		<div class="container">
			<div class="search_box">
				<p class="total">총<b>30건</b>의 게시물이 있습니다.</p>
				<div class="search">
					<select>
						<option>전체</option>
						<option>제목</option>
						<option>내용</option>
					</select>
					<p class="search">
						<input type="text" placeholder="검색어를 입력하세요">
						<a href="#" class="search_btn">검색</a>
					</p>
				</div>
			</div>
			
			<div class="list_box">
				<ul>
					<li>
						<p class="img"></p>
						<div class="text_box">
							<p class="tit"></p>
							<p class="tt"></p>
							<div class="bottom_text">
								<p>작성자</p>
								<p>2022년 12월 01일</p>
								<p>댓글</p>
								<p>좋아요</p>
							</div>
						</div>
					</li>
					<li>
						<div class="text_box">
							<p class="tit"></p>
							<p class="tt"></p>
							<div class="bottom_text">
								<p>작성자</p>
								<p>2022년 12월 01일</p>
								<p>댓글</p>
								<p>좋아요</p>
							</div>
						</div>
					</li>
					<li>
						<p class="img"></p>
						<div class="text_box">
							<p class="tit"></p>
							<p class="tt"></p>
							<div class="bottom_text">
								<p>작성자</p>
								<p>2022년 12월 01일</p>
								<p>댓글</p>
								<p>좋아요</p>
							</div>
						</div>
					</li>
					<li>
						<p class="img"></p>
						<div class="text_box">
							<p class="tit"></p>
							<p class="tt"></p>
							<div class="bottom_text">
								<p>작성자</p>
								<p>2022년 12월 01일</p>
								<p>댓글</p>
								<p>좋아요</p>
							</div>
						</div>
					</li>
					<li>
						<p class="img"></p>
						<div class="text_box">
							<p class="tit"></p>
							<p class="tt"></p>
							<div class="bottom_text">
								<p>작성자</p>
								<p>2022년 12월 01일</p>
								<p>댓글</p>
								<p>좋아요</p>
							</div>
						</div>
					</li>
					<li>
						<p class="img"></p>
						<div class="text_box">
							<p class="tit"></p>
							<p class="tt"></p>
							<div class="bottom_text">
								<p>작성자</p>
								<p>2022년 12월 01일</p>
								<p>댓글</p>
								<p>좋아요</p>
							</div>
						</div>
					</li>
					<li>
						<div class="text_box">
							<p class="tit"></p>
							<p class="tt"></p>
							<div class="bottom_text">
								<p>작성자</p>
								<p>2022년 12월 01일</p>
								<p>댓글</p>
								<p>좋아요</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</main>
</html>