.container	{max-width: 1300px; width: 100%; margin: 40px auto; padding-bottom: 20px;}

/* 검색 */
.search_box				{display: flex; justify-content: space-between; align-items: center; margin-bottom: 40px;}
.search_box .total		{display: inline-block; font: 400 17px/24px "Poppins", "Noto Sans KR", sans-serif; color: #222;}
.search_box .total b	{font-weight: 600; color: #4d6bb7; display: inline-block; margin: 0 2px;}

.search_box select								{height: 50px;min-width:150px;font: 400 16px/25px "Noto Sans KR", sans-serif;padding: 0 15px;color: #444;/* margin-right:5px; */background: url('/img/select_arr.png') no-repeat right 15px top 55%;border: 1px solid #ddd;border-right: none;}
.search_box .search								{font-size: 0;display:flex; position:relative}
.search_box .search input[type="text"]			{height: 50px; padding: 0 15px; width: 340px;font: 400 16px/26px 'Noto Sans KR',sans-serif;color: #888;border: 1px solid #ddd;transition:all 0.2s;border-left: none;}
.search_box .search input[type="text"]:focus 	{border:1px solid #4d6bb7;}
.search_box .search .search_btn					{z-index: 1; display: flex; align-items: center; justify-content: center; width: 50px;height: 50px;transition:all 0.2s; position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
.search_box .search::after						{display:inline-block;content:'';width:1px;height:50px;background: #dedede;position:absolute;top:50%;left:0px;transform:translateY(-50%);}
.search_box .search .search_btn svg								{width: 24px; fill: #999; transition: all .2s;}
.search_box .search .search_btn:hover svg 						{fill: #4d6bb7;}
.search_box .search input[type="text"]:focus+.search_btn svg	{fill: #4d6bb7;}



/* 리스트 */
.list_box ul				{display: grid; grid-template-columns: repeat(4, minmax(0,1fr)); gap: 30px;}
.list_box ul li				{position:relative; border: 1px solid #ddd; width: 100%; border-radius: 10px; transition: all 0.2s; overflow: hidden;}
.list_box ul li:hover		{box-shadow: 0 4px 10px 1px rgba(0,0,0,0.15); background: #f0f6ff; border: 1px solid #4d6bb7; box-shadow: 0 4px 10px 1px rgba(0,0,0,0.15);}

.list_box ul li > a			{display: block; position: relative; height: 100%; min-height: 310px; padding-top: 20px;}
.list_box ul li > a .cate	{display: inline-block; padding: 5px 10px 4px; background: #4d6bb7; border-radius: 5px; margin: 0 20px 6px; color: #fff; font: 400 15px/20px "Poppins", "Noto Sans KR", sans-serif;}
.list_box ul li > a .tit	{font: 500 19px/28px "Poppins", "Noto Sans KR", sans-serif; color: #222; margin: 0px 0 10px; padding: 0 20px; word-break: keep-all; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; max-height: 55px; word-wrap: break-word; transition: all 0.2s;}
.list_box ul li > a .tt 	{font: 300 16px/26px "Poppins", "Noto Sans KR", sans-serif; color: #888; padding: 0 20px; word-break: keep-all; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 4; height: 103px; word-wrap: break-word; width: 100%;}

.list_box ul li.photo .tit 					{-webkit-line-clamp:1; height: 26px;}
.list_box ul li.photo .img					{display: block; height: 145px; overflow: hidden; background:#4d6bb7; margin: 15px 20px 20px;position:relative}
.list_box ul li.photo .img::before			{content:''; opacity:0; display:block; width:100%; height:100%; background:url('/img/img_plus.png') no-repeat 50% 50%; position:absolute; top: 0; left: 0; z-index: 1; transition:all 0.2s;}
.list_box ul li.photo .img img				{width:100%;height: 100%; transition:all 0.2s}
.list_box ul li.photo:hover img				{opacity:0.4}
.list_box ul li.photo:hover .img::before  	{opacity:1}

.list_box ul li .bottom_text			{display: flex; justify-content: space-between; background: #eef4fe; padding: 15px 20px; text-align: right; font: 400 15px/16px "Poppins", "Noto Sans KR", sans-serifs; color: #576497; border-top: 1px dashed #d8dbe8; letter-spacing: -0.5px; position: absolute; bottom: 0; left: 0; width: 100%;}
.list_box ul li:hover .bottom_text		{background: #f0f6ff; border-top: 1px dashed #f0f6ff;}

.list_box ul li .bottom_text > div			{display: flex; align-items: center;}
.list_box ul li .bottom_text .name::after	{content: ''; width: 3px; height: 3px; display: inline-block; background: #bec2d3; border-radius: 5px; vertical-align: middle; margin: 0 8px;}
.list_box ul li .bottom_text .luv 			{display: flex; align-items: center; cursor: pointer;}
.list_box ul li .bottom_text .luv svg		{width: 18px; fill: #c1caef; transition: all .2s; margin-right: 5px;}
.list_box ul li .bottom_text .luv.on svg	{fill: #ff5895;}
.list_box ul li .bottom_text .luv:hover svg	{fill: #ff5895;}
.list_box ul li .bottom_text .date			{display: flex; align-items: center;}
.list_box ul li .bottom_text .date svg		{width: 16px; fill: #7b87b6; margin-right: 5px; margin-bottom: 1px;}


/* 페이지네이션 */
.pagination								{display: flex; align-items: center; justify-content: center;text-align: center; margin-top: 50px;}
.pagination > *							{display: inline-block; height: 25px; line-height: 25px; transition:all .2s;}
.pagination a.direction					{width:32px; height:32px; text-indent: -9999px; border-radius:50%; border:1px solid #ddd}
.pagination a.direction.prev			{background: url('../_img/pc/cont/prev.png') no-repeat center center; margin-right:10px;}
.pagination a.direction.prev:focus,	
.pagination a.direction.prev:hover		{background: #fff; border:1px solid #4d6bb7;}
.pagination a.direction.prev.end		{background: #fff; margin-right:5px;}

.pagination a.direction.next			{background: #fff; margin-left: 10px;}
.pagination a.direction.next:focus,	
.pagination a.direction.next:hover		{background: #fff; border:1px solid #4d6bb7;}
.pagination a.direction.next.end		{background: #fff; margin-left: 5px;}

.pagination a.num						{margin: 0 5px;font: 400 16px/32px "Poppins", "Noto Sans KR", sans-serif;color:#888;width:32px;height:32px;}
.pagination a.num.active				{background:#444; border-radius:50%; color:#fff !important}
.pagination a.num:hover,
.pagination a.num:focus					{color: #4d6bb7;}

.pagination a.direction svg				{display: flex; align-items: center; justify-content: center; text-align: center; margin: 0 auto; height: 29px; width: 10px; fill: #444;}
.pagination a.direction.end svg			{width: 15px;}
.pagination a.direction:focus,
.pagination a.direction:hover svg		{fill: #4d6bb7;}


